@import "variables"
@import "mixins"

.manager
  display: flex
  flex-flow: column
  justify-content: center
  text-align: center
  max-width: 100px
  width: 100%
  +e(image)
    border-radius: 50%
  +e(name)
  +e(branch)
    margin-bottom: auto
    font-size: 0.85rem
  +e(notification)
  +e(icon)